<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script>
        function main() {
            document.getElementById("login-form").addEventListener("submit", function (event) {
                event.preventDefault();  // 기본 폼 제출 동작을 막음

                // FormData를 사용하여 폼 데이터 수집
                const formData = {
                    id: document.getElementById("id").value,
                    pw: document.getElementById("pw").value
                };

                // Fetch API를 사용하여 POST 요청을 보냄
                fetch("../api/member/login", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(formData)
                })
                    .then(response => {
                        if (response.ok) {
                            // 200 OK 응답의 경우
                            alert("로그인 성공")

                            const urlParams = (new URL(window.location.href)).searchParams
                            const callback = urlParams.get("callback")
                            const seat = urlParams.get("seat")

                            switch (callback) {
                                case "reservation":
                                    window.location.href = `../library/login?seat=${seat}`
                                    break
                                case "admin":
                                    window.location.href = "../admin"
                                    break
                                default:
                                    window.location.href = "../library/seat-list";
                            }


                        } else {
                            // 다른 응답 코드의 경우
                            alert("로그인 실패")
                            // window.location.href = "/error";  // 에러 페이지로 리디렉션
                        }
                    })
                    .catch(error => {
                        console.error("Error during fetch:", error);
                        // 에러가 발생한 경우
                        window.location.href = "/error";  // 에러 페이지로 리디렉션
                    });
            });
        }

    </script>
</head>
<body onload="main()">
<h2>열람실 로그인</h2>
<hr>

<form id="login-form" method="post">
    <div class="login-form">
        <label for="id">ID: </label>
        <input id="id" name="id" required type="text"/>
    </div>
    <div class="login-form">
        <label for="pw">PW: </label>
        <input id="pw" name="pw" required type="password"/>
    </div>
    <div class="login-form">
        <input type="submit" value="Login"/>
    </div>
</form>
<a href="./signup">
    <button>회원가입</button>
</a>
</body>
</html>